<div id="gradient" />
<div class="container">
	<div class="pt-5 pb-5">
		<h1 class="col-6 mx-auto">
			<small>That's a great idea！</small>
			 	その考えは<br/>
			 	あなたが思っているよりも<br/>
			 	価値があるかもしれない
			 <small>

			 	<div class="pt-3">
			 		<div>
		 				あなたが思う日常の不便<br/>
		 				あなたがふと考えたアイデア<br/>
		 				あなたが思うニーズ<br/>
		 				それらは見る人が見れば<br/>
		 				宝の山かもしれません<br/><br/>
		 				あなたが思った事<br/>アイデアを共有してください<br/>
		 				その考えが明日を作ります
			 		</div>
			 	</div>
			 </small>
		</h1>
	</div>
</div>